body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.top-navbar {
  background-color: #3952d4 !important;
  color: white !important;
}
.css-q8hpuo-MuiFormControl-root {
  margin-top: 3rem !important;
}
.top-link {
  color: white !important;
  margin: 2rem !important;
  font-size: inherit !important;
  text-decoration: none !important;
}
.burger-menu {
  color: white !important;
  display: block !important;
  margin: 0.5rem 0.5rem 0 0.5rem !important;
}
.card-styles {
  background-color: #3952d4 !important;
  min-width: 275px !important;
  color: white !important;
  margin: 1rem !important;
}
.button-delete {
  background-color: #f45858 !important;
  size: 2rem important;
}
.button-info {
  background-color: green !important;
  size: 2rem !important;
}
.margin-top {
  margin: 1rem !important;
  max-width: 50% !important;
}

.break-line {
  display: inline !important;
  max-width: 50% !important;
}
.break-line::after {
  content: "\a" !important;
  white-space: pre !important;
}
